@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@keyframes anim-banner-1 {
    0% {left:-30%}
    100% {left:50%}    
}

@keyframes anim-banner-2 {
    0% {top:-20%}
    100% {top:20%}    
}

@keyframes anim-figcaption {
    0% {bottom: -60px;}
    100% {bottom: 3px;}
}
#03677B

* {
    margin:0;
    padding: 0;
    list-style-type:none;
    box-sizing: border-box;
}

html {
    font-size: 17px; /*  equiv à 1rem */
}

body {
    font-family: "Trebuchet MS", sans-serif;

    background: #fff ;

}

h1, h2, h3, h4 {
    font-family: 'Kalam', cursive;
    margin-bottom: 3vh;
}

h1 {
    font-size: 3rem;
    color: #03677B;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

a {
    color:#03677B;
    text-decoration: none;
    transition: all .7s;
}

a:hover {   
    text-decoration: underline;
    color:#03677B;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    margin-bottom: 70px;
}

table {
    width: 70%;
    margin: auto;
    border: 2px #ccc solid;
    border-collapse: collapse;
}

td, th {
    border: 2px #ccc solid;
    padding: 20px;

}
caption {
    font-size: 2rem;
    text-transform: uppercase;
}

thead, tfoot {
    background: #fff;
    color: #03677B;
    letter-spacing: 1px;
}


#form-ident {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
  }
  
  #form-ident label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 1rem;
  }
  
  #form-ident input[type="text"],
  #form-ident input[type="password"],
  #form-ident input[type="email"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #form-ident input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #03677B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  #form-ident input[type="submit"]:hover {
    background: #43454b;
  }
  
  #form-ident a {
    color: #03677B;
    text-decoration: none;
    transition: all .5s;
    text-align: center;
    display: block; 
  }
  
  #form-ident a:hover {
    color: #43454b;
  }
  
/* classes */
.align-horiz {
    display: flex;
    background: #03677B
}


.align-horiz li {
    display: flex;
    background: #03677B;
}

.align-horiz a {
    background: #03677B;
    color: #fff;
}
.align-vert {
    display: flex;
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.icon::before {    
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;      
 }
 .box-shadow {
     box-shadow: 7px 7px 29px -3px rgba(0, 0, 0, 0.67);
     -webkit-box-shadow: 7px 7px 29px -3px rgba(0, 0, 0, 0.67);
     -moz-box-shadow: 7px 7px 29px -3px rgba(0, 0, 0, 0.67);
 }
 .text-shadow {
    text-shadow: 1px 3px 2px rgba(0,0,0,0.6);
 }

 .login::before {
    /* using style CSS custom property */
    font: var(--fa-font-solid);
    content: "\f007";
    font-size: 5rem;  
  }

  /* Note: Make sure to include the correct weight and Unicode value for the icon */
  .tps::before {
    /* using style CSS custom property */
    font: var(--fa-font-solid);
    content: "\f1ea";
    font-size: 5rem;
 }

 .video-responsive { 
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
    height:0;
    }

.video-responsive iframe {
left:0; 
top:0; 
height:100%;
width:100%;
position:absolute;
}
.bt {   
    padding: 10px 20px;
    color: #03677B;
}
.bt:hover {   
   text-decoration: none;
}
.confirm {
    background: green; 
    color: #fff;     
}

.error, .alert {
    background: red;  
    color: #fff;  
}

#contact .error {
    padding: 30px;
    color: #03677B;   
}


/* structure*/
header {
    padding-top: 50px;
}
#content {
    max-width: 1440px;
    margin:auto;
    padding-top:0;
}

#social-nav  {
    background: #03677B;
    position: fixed;
    width:100%;
    top:0;
    left: 0; 
    z-index: 3;  

}

#social-nav ul {
    background: #fff;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
}

#social-nav li {
   margin-right: 40px;
   background: #fff;
}
#social-nav a {
    background: #fff;
    color: #03677B;
  }
header div:nth-of-type(1) {
    align-items: center;
}

header div:nth-of-type(1) h1 {
    text-align: center;
    width: calc(100% - 208px);
    color:#fff
}

header div:nth-of-type(1) img {
    display: block;
    z-index: 1;
    position: relative;
   
}

#banner {
    position:relative;
    overflow: hidden;
}

#banner img {
   display: block;
}

#banner p {
    position: absolute;
    width: 50%;
    background: rgba(0,0,0, .5);
    color: #03677B;
    padding: 20px;
    text-align: center;
    left: -30%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    animation: anim-banner-1 .7s 1s;
    animation-fill-mode: forwards;
}

#banner i {
    position:absolute;
    left:50%;
    top: -20%;
    animation:  anim-banner-2 .7s 1.5s;
    animation-fill-mode: forwards;   
   
}

#primary-nav {
    background: #03677B;   
}
#primary-nav ul {   
    justify-content: space-around;
}

#primary-nav li a {
    padding: 20px 15px;
    width: 150px;
    text-align: center;
    display:block;
}
#primary-nav li a:hover {
   text-decoration: none;
   color: #03677B;
   background: #fff;
   /* text-decoration: underline; */
}

#mobile-nav {
    display: none;  
}

main {
    background: #fff;
    padding: 20px;
    width: 80%;
    min-height: 50vh;
}
aside {
    width: 20%;
    background: #fff; 
    padding: 20px;   
}

aside img {
   width: 100%;
}
#articles article p {
    padding: 20px;
    width: 70%;
}

#articles img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    max-width: initial;
}
#articles article  {
   margin-bottom: 5vh;
}
article figure {
    position: relative;
    overflow: hidden;
}
article figcaption {
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .8);
    padding: 20px;
    bottom: -60px;
    color: #fff;
}
article figure:hover figcaption {
    animation: anim-figcaption .5s;
    animation-fill-mode: forwards;
}

/*
#articles article:nth-of-type(2n) div {
    flex-direction: row-reverse;
}
*/
#members img {
    border-radius: 50%;
}

#members ul {
    justify-content: space-between;
}

#members h3 {
   text-align: center;
}

#members ul:nth-of-type(2) {
    justify-content: space-around;
    margin: 50px 0;
}
#members ul:nth-of-type(2) li {
  text-align: center;
}

#members ul:nth-of-type(2) li::before {
   display: block;
}

/* contact page */
#form-contact div {
    background: #fff;
}
#form-contact fieldset {
    width: 48%;   
    padding: 15px;
    justify-content: space-around;
}


/*
#form-contact fieldset * {
   line-height: 15px;
}
*/
#form-contact > div:nth-of-type(1) {
    justify-content: space-between;
}

#form-contact fieldset:last-of-type label {
    display: block;   
}

#form-contact fieldset label[for=scientifique],
#form-contact fieldset label[for*=art] {
    display: inline-block;
    width: 37%;
}

#form-contact fieldset label[for*=bon],
#form-contact fieldset label[for*=moy],
#form-contact fieldset label[for*=deb]
 {
    display: inline-block;
    width: 70px;
}

#contact-confirm p {
    margin: 10px 0;
}

#contact-confirm div {
   padding: 20px;
}

#contact-confirm p.error {
margin-bottom: 50px;
padding: 20px;
}

#contact-confirm img {
   width: 250px;
   height: 250px;
   object-fit: contain;
   border-radius: 50%;
}

footer {
    padding: 30px;
}

footer div {
     display: flex;
    justify-content: space-around;
}


footer a {
    color: #03677B;
}


footer p {
    text-align: center;
    padding: 20px 0 0 0;
 }

/* modification  */

.nav {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  .nav div {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .nav div button {
  background-color: #03677B;
  color: white;
  border: none;
  padding: 20px 80px;
  text-align: center;
  text-decoration: none;
  display: grid;
  font-size: 20px;
  margin: 5px 15px;
  cursor: pointer;
  }
  
  .nav button a {
    color: white;
    text-decoration: none;
  }
  
  .nav button:hover {
    background-color: #03677B;
    
  }
  /* css boutique  */
  





/* style display products */

#edit {
    text-align: center;
  }
  
 /* display */

.product-details {
    display: flex;

  }
  
  .product-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-contenu {
    flex-basis: 50%;
    max-width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
  .vignette {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .product-label {
    font-size: 15px;
    color:#03677B;
    margin-bottom: 15px;
  }
  
  .product-info {
    font-size: 16px;
    color:#43454b;
  }
  
  .product-price {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
  }
  
  .product-price-strike {
    font-size: 20px;
    color: #000;
    text-decoration: line-through;
    margin-bottom: 10px;
  }
  
  .product-price-promo {
    font-size: 20px;
    color: #f00;
    margin-bottom: 10px;
  }
  
  .product-stock {
    font-size: 16px;
    color: #00b300;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .rupture-stock {
    font-size: 16px;
    color: #f00;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .product-description {
    font-size: 16px;
    color:#43454b;
    margin-bottom: 10px;
  }
  
  .add-to-cart-btn {
    background-color: #03677B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-to-cart-btn:hover {
    background-color: #43454b;
  }

  /* colom nav */
  .sidebar {
    /* position:fixed; */
    /* top: 465px; */
    /* left: 70px; */
    
    height: 150vh;
    width: 200px;
    background-color: #fff;
    padding: 20px;
}

.categorie-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categorie-buttons button {
    background-color: #03677B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}

.categorie-buttons a {
    color: #fff;
}

.boutique-categor {
    display: flex;
   
    /* margin-left: 30px;  */
    
}

.boutique-categor > div {
   
    text-align: center;
}

.boutique-categor > div a {
    display: block;
}

.boutique-categor > div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* margin-bottom: 10px; */
}

.boutique-categor > div h3 {
    font-size: 20px;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.categorie-buttons button.active {
    background-color:cornflowerblue; 
}
.align-horizon {
    display: flex;
    width: 100%;
}

.h-boutique h1 {
    font-size: 1.6rem;
    margin-top: 10px;
color: #03677B;
font-size: Arial, sans-serif;
font-family: Chalkduster, fantasy;
}

/* boutique categorie */
.boutique-categorie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-left: 220px; 
    
}

.boutique-categorie > div {
    /* border: 1px solid #ccc; */
    padding: 10px;
    text-align: center;
}

.boutique-categorie > div a {
    display: block;
}

.boutique-categorie > div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.boutique-categorie > div h3 {
    font-size: 18px;
    color: #333;
}





/* ... code précédent ... */

.tag-btn, .bio-btn{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.tag-btn button {
    background-color: #FFB400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    
}



.bio-btn button {
    color: #fff;
    background: #86BE26;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    
}

.bio-btn button a, .tag-btn button a {
    color: #1D0000;
   
    
}


        /* btn recherche */
        .btn-recherche {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            background: #03677B;

            
          }
          
          .btn-recherche input[type="text"] {
            padding: 10px 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: #03677B;

          }
          
          .btn-recherche button {
            padding: 10px 15px;
            background-color: #03677B;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 30px;
            margin-right: 10px;
          }
          
          .btn-recherche button:hover {
            background-color: #939ED9;
          }
          